@font-face {
    font-family: "IranN" ;
    src: url(../font/IranNastaliq.ttf);
  }

@font-face {
    font-family: "IRANYekanBold" ;
    src: url(../font/iranyekan/fonts/IRANYekanBold.ttf);

}
@font-face {
    font-family: "IRANYekanLigh" ;
    src: url(../font/iranyekan/fonts/IRANYekanLight.ttf);

}
@font-face {
    font-family: "IRANYekanRegular" ;
    src: url(../font/iranyekan/fonts/IRANYekanRegular.ttf);
}
